<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <body>
            <table>
                <tr style=>
                    <th style="padding: 10px; color: white; background-color:#1e97c6;">What's Happening At Clavrit PVT LTD 
                        <span style="float: right;">announcement</span>
                    </th>
                </tr>
                <tr>
                    <td>Teke a moment to select people to give feedback about your team
                        <span style="float: right;"><button>send feedback </button></span>
                    </td>

                </tr>
                <tr>
                    <td>Daniel Vance has provided feedback about Ryota Saito<tr style="font-size:8px ;">2 month ago</tr></td>
                    
                </tr>
                <tr>
                    <td>Javier Cruz is requesting an update to their personal information.<tr style="font-size:8px ;">3 month ago</tr></td>
                </tr>
                <tr>
                    <td>1-9(2022) is waiting for your singnature!<tr style="font-size:8px ;">4 month ago</tr></td>
                </tr>
                <tr>
                    <td>Maja Pandev requested Saturday.</td>
                </tr>
            </table>

        </body>
    </section>
</section>