<app-user-sidebar></app-user-sidebar>

<section id="main-content">
    <section class="wrapper">
<h1 style="text-align:center;">About Us</h1>
<section class="viamagus-component viamagus_circlimg " id="viamagus_columngrid_1990" data-component-name="columngrid"
    data-bkg-image="">
    <span>
    <div 
    class="viamagus-component-bg-colour" style="background-color:rgba(252,252,252,1);">
        <div class="viamagus-component-content " style="padding-top: 80px; padding-bottom: 30px;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6 columngridone" >
                        <div class="image-alignment"> <img 
                                src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919311274about.png"
                                data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919311274about.png"
                                class="img-circle img-responsive why-section "
                                style="height:100px;margin:auto;display:block;"> </div>
                        <div class="columngrid-desc fixedImgAlignmnetFixed ">
                            <div>
                                <h2 class="viamagus-heading2" >
                                    <div style="text-align: center;">Welcome to Clavrit</div>
                                </h2>
                                <div class="viamagus-paragraph" >
                                    <div style="text-align: center;">Clavrit Digital Solutions empowers businesses to
                                        meet the challenges of digital transformation. We have delivered several
                                        enterprise-scale SAP Hybris implementations across the globe. We are recipient
                                        of the prestigious SAP Innovation Award in 2018. The SAP Innovation Awards
                                        celebrate the achievements of ingenious companies who are transforming
                                        businesses using SAP products. Our services include SAP Hybris Commerce,
                                        Datahub, Machine Learning and Artificial Intelligence.</div>
                                </div>
                            </div>
                        </div>
                        
                        <div style="clear: both;"></div>
                    </div>
                
                    <div class="span6 columngridtwo" >
                        <div class="image-alignment"> <img alt="Why Clavrit Digital Solutions Pvt Ltd" 
                                src="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919442454about1.png"
                                data-original="https://6109acb91c67b7de3e26-67c7b388f4b4796c3b826f326111f63e.ssl.cf1.rackcdn.com/1571919442454about1.png"
                                class="img-circle img-responsive why-section "
                                style="height:100px;margin:auto;display:block;"> </div>
                        <div class="columngrid-desc fixedImgAlignmnetFixed ">
                            <div>
                                <h2 class="viamagus-heading2">
                                    <div style="text-align: center;">Why Clavrit Digital Solutions Pvt Ltd</div>
                                </h2>
                                <div class="viamagus-paragraph" >
                                    <div style="text-align: center;">Our capabilities in Machine Learning and Artificial
                                        Intelligence give us a competitive edge in this exclusive domain. We provide
                                        complete end to end solutions that encompass - marketing, sales, commerce,
                                        service and finance. We have helped our clients to transform their businesses
                                        with proven AI and digital capabilities. Our customers have superior cross
                                        channel interactions, can predict trends and interact with real-time users.
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div style="clear: both;"></div>
                    </div>
                
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</span>
</section>
    </section>
</section>