<app-user-sidebar></app-user-sidebar>
<section id="main-content">
  <section>
    <h1>Clavrit Info</h1>
    <div style="padding: 25px">
      <table class="table table-bordered table-striped">
        <thead style="background-color: #24aee4">
          <tr style="color: white">
            <th>Candidate_Info</th>
            <th>Job_Openings</th>
            <th>Status</th>
            <th>Last_Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hiring of hirings">
            <td>
              <span>{{ hiring.candidate_info }}</span>
            </td>
            <td>
              <span>{{ hiring.jobOpenings }}</span>
            </td>
            <td>
              <span>{{ hiring.status }}</span>
            </td>
            <td>
              <span>{{ hiring.lastEmail }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
