<table>
    <thead>
    <tr>
        <td style="font-size: 12px;">Punch-in</td>
        <td style="font-size: 12px;">Punch-out</td>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>10:10 AM</td>
        <td>00:00 PM</td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 8px;">
            <button type="button" class="btn btn-success btn-block">Punch-out</button>
        </td>
        <td>

        </td>
       
    </tr>
</tbody>
</table>
<div>
<table>
    <thead>
    <tr>
        <td style="font-size: 12px;">Leaves</td>
        <td style="font-size: 12px;">Left</td>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>10</td>
        <td>05</td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 8px;">
        </td>
        <td>

        </td>
       
    </tr>
</tbody>
</table>
</div>
<a class="btn btn-success btn-block" data-toggle="modal" data-backdrop="false" data-target="#myModal">Request Time Out</a>

<div id="myModal" class="modal">
    <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <app-leave></app-leave>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
  </div>