table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    color: white;

}

td,
th {
    padding: 1px;
}

.btn-success {
    background-color: #24aee4;
    border-color: #24aee4;
}

a {
    color: white;
}

p {
    margin: 6px 10px;
    font-size: 15px;
    color: white;
}