

<div class="container">
  <form class="">
            <h3>Request time off</h3>
            <br>
            
                <label for="From">From*:</label>
                <input class="form-control" type="date" id="from" name="from">
                <label for=" To">To*:</label>
                <input class="form-control" type="date" id="To" name="To">
            <br>
            
            
            <label for="Time of Type*">Time of type*:</label><br>
            <select class="form-control" name="timeOfType" id="timeOfType">
              <option value="sickLeave">sick leave</option>
              <option value="vacation">Vacation</option>
            </select> <br>
            
            <p> Amount*</p>
            <input type="text" class="form-control  input-sm"  style="width:5px" name="hour" #hour>
            <input type="text" class="form-control  input-sm"  style="width:5px" name="hour" #hour>
            
            <p>Note</p>
                <textarea name="message" rows="10" cols="30" #message></textarea>
                <input type="text" [(ngModel)]='inputValue'>
                <p>
            
                  <button type="button" class="btn btn-lg btn-login btn-block"
                  (click)="sendRequest(message.value, hour.value)">Send Request</button>
                </p>
            </form>
            </div>
        
        
      
      
    
  
  
