<div id="myModal" class="modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
          <form class="">
              <h3>Request time off</h3>
              <br>
              
                  <label for="From">From*:</label>
                  <input class="form-control" type="date" id="from" name="from"  [(ngModel)]="from" (input)="dateDiff()">
                  <label for=" To">To*:</label>
                  <input class="form-control" type="date" id="to" name="To"  [(ngModel)]="to" (input)="dateDiff()">
                  {{dtErr}}
              <br>
              
              
              <label for="Time of Type*">Time of type*:</label><br>
              <select class="form-control" name="timeOfType" id="timeOfType">
                <option value="sickLeave">sick leave</option>
                <option value="vacation">Vacation</option>
              </select> <br>
              
              <p> Amount*</p>
              <input type="text" class="form-control  input-sm"  style="width:5px" name="hour" #hour>
              <input type="text" ng-app="" ng-controller="myClass" class="form-control  input-sm"  style="width:5px" name="hour" #hour>
              
              <p>Note</p>
                  <textarea name="message" rows="" cols="" #message></textarea>
                  <p>
              Test : {{diffDays}}
                    <button type="button" class="btn btn-lg btn-login btn-block">Send Request</button>
                  </p>
                  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        </div>
      </form>
    </div>

  </div>
</div>
</div>