<app-user-sidebar></app-user-sidebar>
<section id="main-content">
    <section >
  
  <html>
      <head>
          <title>My Info</title>
      </head>
      <body style= "width: 104%;height: 466px;">
          <h1 style="margin-top: 14px;margin-left: 98px;"><b>Basic Information</b></h1>
          
  <h3 style="background-color:  #e6dfdf;"><b>Employe Name :</b>{{employeeDetail.name}}</h3>
  <h3 style="background-color: #e6dfdf;"><b>Address :</b>{{employeeDetail.address}}</h3>
  <h3 style="background-color: #e6dfdf;"><b>Email id :</b>{{employeeDetail.emp_mail}}</h3>

  <h3 style="background-color:  #e6dfdf;"><b>Joining Date :</b>{{employeeDetail.joining_date}} </h3>
  <h3 style="background-color: #e6dfdf;"><b>Mobile No. :</b>{{employeeDetail.phone_num}}</h3>
      </body>
  </html>
    </section>
  </section>