<app-user-sidebar></app-user-sidebar>
<section id="main-content">
  <section >

<html>
    <head>
        <title>My Info</title>
    </head>
    <body style="background-color: lightblue ;width: 104%;height: 466px;">
        <h1 style="margin-top: 14px;margin-left: 98px;"><b>Basic Information</b></h1>
        
<form style="margin-left: 71px; margin-top: 67px;">
    <label><b>Employe</b></label>
    <input type="text">
</form>
<form style="margin-left: 318px; margin-top: -27px;">
    <label><b>Status</b></label>
    <input type="text">
</form>
<form style="margin-left: 84px; margin-top: 66px;">
    <label><b>Name</b></label>
    <input type="text">
</form>
<form style="margin-left: 300px; margin-top: -26px;">
    <label></label>
    <input type="text">
</form>
<form style="margin-left: 479px;margin-top: -25px;">
    <label>Preferred Name</label>
    <input type="tel">
</form>

</body>
</html>
  </section>
</section>